Follow me:
<div id="stalker">
  {% if site.theme.social.github %}
  <a title="{{ site.theme.social.github }} on Github" href="https://github.com/{{ site.theme.social.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.twitter %}
  <a title="{{ site.theme.social.twitter }} on Twitter" href="https://twitter.com/{{ site.theme.social.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.facebook %}
  <a title="{{ site.theme.name }} on Facebook" href="https://facebook.com/{{ site.theme.social.facebook }}">
    <i class="fa fa-facebook-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.tumblr %}
  <a title="{{ site.theme.name }} on tumblr" href="https://{{ site.theme.social.tumblr }}.tumblr.com">
    <i class="fa fa-tumblr-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.linkedin %}
  <a title="{{ site.theme.name }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.theme.social.linkedin }}">
    <i class="fa fa-linkedin-square"></i>
  </a>
  {% endif %}

  {% if site.theme.social.gplus %}
  <a title="{{ site.theme.name }} on Google Plus" href="https://plus.google.com/{{ site.theme.social.gplus }}">
    <i class="fa fa-google-plus-square"></i>
  </a>
  {% endif %}

</div>
