---
layout: default
---

<article class="article">
  <h1 class="article-title">{{ page.title }}</h1>
  <!-- <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time>
  -->
  <br>
  {{ content }}
</article>

<aside class="related">
  <h2>Related Posts</h2>

  {% assign is_first = true %}
  {% for p in site.posts %}
    {% assign is_related = false %}
    {% for t in p.tags %}
      {% if page.tags contains t %}
        {% assign is_related = true %}
      {% endif %}
    {% endfor %}

    {% if is_related %}
      {% if is_first == false %} // {% endif %}
      <a href="{{ p.url }}">{{ p.title }}</a>
      {% assign is_first = false %}
    {% endif %}
  {% endfor %}

</aside>
